body{
    background-color: blue;
}

.container{
    width: 300px;    
    background-color: wheat;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
}

.title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.title p{
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: black;
}

.values{
    width: 300px;
    height: 260px;
    background-color: wheat;
}



.tempValue{
    width: 300px;
    height:60px;
}

.tempValue p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.tempValue span{
    color: #293251;
    font-size: 0.5em;
}

.tempDescription p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}